extends layout

block content
  .container.h4
    if (!user || user == null)          
      a.btn.btn-primary(href="/auth/twitter") Login with Twitter
    if (user)
      p.small.text-right.bg-success(style="padding: 10px") You are currently logged in as: #{user['screen_name']}
      span
      a.btn.btn-primary(href="/logout" style="margin: 5px") Logout
    p
    .well   
      form(role='form', action='/search', enctype="application/json", method='post')
        span.h4 Search Yelp API: 
        .form-group.h4
          br          
          input(type='text', name="search", value="Look for:")
          | &nbsp;in&nbsp;
          input(type='text', name="zipcode", value="Zip code")
          | ?
        br          
        button.btn(name='submit', type='submit') Search!     
    
    if (results) 
      span.h3 Search Results:
      p
      table.table   
        - each val, index in results
          tr
          - userDataIndex = userdata.indexOf( val.id )
            td 
              img(src=val.imageurl)
            td #{val.name}&nbsp;
              span
              if (userdata && user)                
                if userDataIndex < 0
                  button.btn-xs.btn-warning(name='rsvp')
                    a(href='/rsvp/#{val.id}') RSVP
                else
                  button.btn-xs.btn-danger(name='unrsvp')
                    a(href='/unrsvp/#{val.id}') UnRSVP
                  br
                  if (rsvps_count[userDataIndex] > 0)
                    strong RSVPs: #{ rsvps_count[userDataIndex] }
            td(width='250px')
              span.small #{val.snippet_text}
            td              


        
          
